<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>
<body>
<h1>Nhà tuyển dụng</h1>
<p><a href="/formemployer">Thêm nhà tuyển dụng</a></p>
<p><a href="/employers">Danh sách nhà tuyển dụng</a></p>
<h1>Việc làm</h1>
<p><a href="">Tạo việc làm</a></p>
<p><a href="">Danh sách việc làm</a></p>

<h1>Ứng viên</h1>
<p><a href="">Thêm ứng viên</a></p>
<p><a href="">Danh sách ứng viên</a></p>
</body>
</html>
